################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AcademyScheduleAnalyzer/obj
/AcademyScheduleAnalyzer/bin/Debug/net10.0
/AcademyScheduleAnalyzer/bin/Release/net10.0
/AcademyScheduleAnalyzer/BenchmarkDotNet.Artifacts
